<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my first spring header</h1>
    <p>Nama: <span th:text="${name}"></span></p>
    <p>Age : <span th:text="${age}"></span></p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique minima dolore commodi? Commodi consectetur labore vero assumenda, eius suscipit facere, quidem neque repellendus maiores doloremque quos officiis dolorum ad error.</p>
</body>
</html>